In [25]:
import pandas as pd

df = pd.read_csv('films.csv')
df

,acteurs,description,duree,genre,langue_origine,pays,public,score,titre,titre_original,year
0,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...","Over the course of several years, two convicts...",142,Drama,English,United States,R,9.3,The Shawshank Redemption,The Shawshank Redemption,1994
1,"Arnold Schwarzenegger,Linda Hamilton,Edward Fu...","A cyborg, identical to the one who failed to k...",137,"Action,Adventure,Sci-Fi",English,United States,R,8.6,Terminator 2: Judgment Day,Terminator 2: Judgment Day,1991
2,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...","Marty McFly, a 17-year-old high school student...",116,"Adventure,Comedy,Sci-Fi",English,United States,PG,8.5,Back to the Future,Back to the Future,1985
3,"Tom Hanks,Michael Clarke Duncan,David Morse,Bo...","A tale set on death row, where gentle giant Jo...",189,"Crime,Drama,Fantasy",English,United States,R,8.6,The Green Mile,The Green Mile,1999
4,"Roberto Benigni,Nicoletta Braschi,Giorgio Cant...",When an open-minded Jewish waiter and his son ...,116,"Comedy,Drama,Romance",Italian,Italy,PG-13,8.6,Life Is Beautiful,Life Is Beautiful,1997
...,...,...,...,...,...,...,...,...,...,...,...
245,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",The aging patriarch of an organized crime dyna...,175,"Crime,Drama",English,United States,R,9.2,The Godfather,The Godfather,1972
246,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",When the menace known as the Joker wreaks havo...,152,"Action,Crime,Drama",English,United States,PG-13,9.0,The Dark Knight,The Dark Knight,2008
247,"Maria Falconetti,Eugene Silvain,André Berley,M...","In 1431, Jeanne d'Arc is placed on trial on ch...",114,"Biography,Drama,History",NaN,France,Passed,8.1,The Passion of Joan of Arc,The Passion of Joan of Arc,1928
248,"Robert De Niro,James Woods,Elizabeth McGovern,...",A former Prohibition-era Jewish gangster retur...,229,"Crime,Drama",English,United States,R,8.3,Once Upon a Time in America,Once Upon a Time in America,1984
249,"Charles Chaplin,Paulette Goddard,Jack Oakie,Re...",Dictator Adenoid Hynkel tries to expand his em...,125,"Comedy,Drama,War",English,United States,G,8.4,The Great Dictator,The Great Dictator,1940

In [26]:
#drop de colonnes data leaking -> score ?
#drop de colonnes que je juge inutile -> year 
#drop de colonnes dont on ne peux pas se servir car besoin de NLP -> titre, titre_original, description 
df = df.drop(['year', 'titre', 'titre_original', 'description'], axis=1)

df

,acteurs,duree,genre,langue_origine,pays,public
0,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",142,Drama,English,United States,R
1,"Arnold Schwarzenegger,Linda Hamilton,Edward Fu...",137,"Action,Adventure,Sci-Fi",English,United States,R
2,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...",116,"Adventure,Comedy,Sci-Fi",English,United States,PG
3,"Tom Hanks,Michael Clarke Duncan,David Morse,Bo...",189,"Crime,Drama,Fantasy",English,United States,R
4,"Roberto Benigni,Nicoletta Braschi,Giorgio Cant...",116,"Comedy,Drama,Romance",Italian,Italy,PG-13
...,...,...,...,...,...,...
245,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",175,"Crime,Drama",English,United States,R
246,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",152,"Action,Crime,Drama",English,United States,PG-13
247,"Maria Falconetti,Eugene Silvain,André Berley,M...",114,"Biography,Drama,History",NaN,France,Passed
248,"Robert De Niro,James Woods,Elizabeth McGovern,...",229,"Crime,Drama",English,United States,R
249,"Charles Chaplin,Paulette Goddard,Jack Oakie,Re...",125,"Comedy,Drama,War",English,United States,G

In [ ]:
#

In [27]:
#drop de colonnes que je trouve inutile ? year